<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.GradeMapper">
    <insert id="saveGrade">
      insert into grade(codeshare,
                        charge,
                        monitor,
                        class_name,
                        commissary,
                        create_time)
        values(#{vo.codeshare},
               #{vo.charge},
               #{vo.monitor},
               #{vo.className},
               #{vo.commissary},
               NOW())
    </insert>

    <select id="getGradeByNumber" resultType="com.springboot.pojo.Grade">
        select g.id,
               g.codeshare,
               g.charge,
               g.monitor,
               g.class_name AS className,
               g.commissary,g.monitor,
               g.create_time AS createTime
        from grade g where codeshare=#{classNumber} and status=0
    </select>
    <select id="getGrade" resultType="com.springboot.pojo.Grade">
        select g.id,
               g.codeshare,
               g.charge,
               g.monitor,
               g.class_name AS className,
               g.commissary,
               g.create_time AS createTime
        from grade g
       <where>
           <if test="vo.codeshare !=null">
               g.codeshare=#{vo.codeshare}
           </if>
           <if test="vo.charge !=null">
              and g.charge=#{vo.charge}
           </if>
           <if test="vo.monitor !=null">
             and  g.monitor=#{vo.monitor}
           </if>
           <if test="vo.className !=null">
             and  g.class_name=#{vo.className}
           </if>
           <if test="vo.commissary !=null">
             and  g.commissary=#{vo.commissary}
           </if>
       </where>
        order by g.create_time DESC
    </select>
    <select id="getCodeShare" resultType="java.lang.Integer">
        select codeshare from grade where status =0;
    </select>
    <select id="getGradeName" resultType="com.springboot.pojo.Grade">
        select
               g.codeshare,
               g.class_name AS className,
               g.create_time AS createTime
        from grade g
        order by g.create_time DESC
    </select>
</mapper>