<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.UserMapper">
    <insert id="saveUser">
        insert into user(user_name, phone, account, profile, age, sex, create_time)
        values
               (#{vo.userName},#{vo.phone},#{vo.account},#{vo.profile},#{vo.age},#{vo.sex},NOW())
    </insert>
    <update id="removeUser">
        update user set status =1
        <where>
            <if test="id != null">
                id=#{id}
            </if>
        </where>
    </update>
    <update id="updateUser">
        update user set
             user_name=#{vo.userName},
             phone=#{vo.phone},
            account=#{vo.account},
            age=#{vo.age},
            sex=#{vo.sex}
        where id=#{vo.id}
    </update>
    <select id="getUser" resultType="com.springboot.pojo.User">
       select id,
        user_name as userName,
        phone,
        account,
        profile,
       CASE sex
       WHEN 0 THEN '男'
       WHEN 1 THEN '女'
       ELSE '其他' END AS sex,
        age,
        create_time as createTime
        from user
       <where>
           status=0
           <if test="vo.paramOne!=null and vo.paramOne !=''">
              and user_name like concat('%',#{vo.paramOne},'%')
           </if>
           <if test="vo.paramTwo!=null and vo.paramTwo !=''">
              and phone like concat('%',#{vo.paramTwo},'%')
           </if>
       </where>
        order by create_time desc
   </select>
    <select id="userLogin" resultType="com.springboot.pojo.User">
        select id,
               user_name as userName,
               phone,
               account,
               profile,
               age,
               CASE sex
                   WHEN 0 THEN '男'
                   WHEN 1 THEN '女'
                   ELSE '其他' END AS sex,

               create_time as createTime
              from user
            where account=#{vo.account} and phone=#{vo.phone} and status=0

    </select>
    <select id="getPhone" resultType="java.lang.String">
        select phone from user where status=0
    </select>

</mapper>